<!DOCTYPE html>
<html lang="en" ng-app="ClothesShop">
  <head>
    <meta charset="utf-8">
    <title>Angular Shop</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/shopController.js"></script>
  </head>
  <body ng-controller='ShopController as ctrl'>
  <div class="navbar navbar-default navbar-fixed-top">
    <button class="cart btn navbar-btn navbar">Shopping Cart [ {{ctrl.cart.length}} ]</button>
  </div>



    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in ctrl.productList.items">
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency:"£"}}</em>
        </h3>
        <!-- Image Gallery  -->
        <div class="gallery" ng-show='product.images.length'>
          <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}" />
          <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images"> <img ng-src="{{image}}" /> </li>
          </ul>
          <button ng-click='ctrl.addProduct(product)' class="btn btn btn-success addItem">Add to Cart</button>
        </div>

      </div>
    </div>
  </body>
</html>